<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Tailwind Admin Template">
<meta name="keywords" content="admin, estimates, tailwind, business, corporate, creative, management, minimal, modern,  html5, responsive">
<meta name="author" content="Dreamguys - Tailwind Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Dreams Pos admin template</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon-1.png">
<link rel="stylesheet" href="assets/css/animate-1.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min-1.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min-1.css">

<link rel="stylesheet" href="assets/css/jquery.dataTables.min-1.css">
<link rel="stylesheet" href="assets/css/flowbite.min-1.css">
<link rel="stylesheet" href="assets/css/index.min-1.css">
<link rel="stylesheet" href="dist/tailwind-dist-1.css">
</head>
<body class="error-page">
<div id="global-loader">
<div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">
<div class="error-box">
<h1>500</h1>
<h3 class="h2 mb-3"><i class="fas fa-exclamation-circle"></i> Oops! Something went wrong</h3>
<p class="h4 font-weight-normal">The page you requested was not found.</p>
<a href="index-1.html" class="btn btn-primary">Back to Home</a>
</div>
</div>


<script src="assets/js/jquery-3.6.0.min-1.js" type="c68f42cd4b24f13463e9c741-text/javascript"></script>

<script src="assets/js/feather.min-1.js" type="c68f42cd4b24f13463e9c741-text/javascript"></script>

<script src="assets/js/jquery.slimscroll.min-1.js" type="c68f42cd4b24f13463e9c741-text/javascript"></script>

<script src="assets/js/flowbite-1.js" type="c68f42cd4b24f13463e9c741-text/javascript"></script>
<script src="assets/js/script-1.js" type="c68f42cd4b24f13463e9c741-text/javascript"></script>
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-1.js" data-cf-settings="c68f42cd4b24f13463e9c741-|49" defer=""></script></body>
</html>